@tailwind base;
@tailwind components;
@tailwind utilities;


.background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #4CAF50 0%, #8BC34A 25%, #CDDC39 50%, #FFEB3B 75%, #FFC107 100%);
    background-size: 400% 400%;
    position: relative;
    animation: animate 5s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  @keyframes animate {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  //Button1

  .parent {
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line to horizontally center the buttons */
  }
  
  /* Remove the margin-bottom for .button1 to avoid unnecessary spacing */
  .button1 {
    background-color: #fff;
    color: white;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 165px;
    width: 165px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  /* Add margin-right to create spacing between buttons */
  .button1:not(:last-child) {
    margin-right: 10px;
  }
  
  .button1:hover {
   background-color: #fff;
  }
  
  .button1:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }
  
  .button1 {
    margin-bottom: 10px;
  }

  
  .round-6 {
    border-radius: 70%;
  }


  .custom-button {
    position: relative;
    overflow: hidden;
    border: 5px solid green;
    transition: background-color 0.5s, border-color 0.5s;
    margin-bottom: 30px;
  }
  .custom-mini-button{
    border: 1px solid #000000;
    transition: background-color 0.5s, border-color 0.5s;
    font-size: 10px;
  }

  .custom-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    transition: width 0.5s, height 0.5s, background-color 0.5s, border-width 0.5s;
  }

  .custom-button:hover::before {
    width: 400%; /* Adjust the size as needed */
    height: 400%; /* Adjust the size as needed */
    background-color: transparent;
    border: 0;
  }

  .custom-button:hover {
    background-color: transparent;
    border-color: gray; /* Adjust the border color as needed */
  }

  /* Radial Progress bar */
.bg-conic-gradient-green {
  background: conic-gradient(greenyellow 0%, greenyellow 100%, transparent 0%, transparent 100%);
}

.bg-conic-gradient-gray {
  background: conic-gradient(#ccc 0%, #ccc 100%, transparent 0%, transparent 100%);
}


  